@model WebApplication1.Models.Playground

@{
    ViewBag.Title = "Delete";
}

<h2>Smazání hřiště</h2>

<h3>Jste si jistí, že chcete smazat toto hřiště?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Název
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Vlastník
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Zpět na seznam hřišť", "Index") |
            <input type="submit" value="Smazat" class="btn btn-default" />
        </div>
    }
</div>
