@{
    ViewBag.Title = "O nás";
}
<h2>@ViewBag.Title.</h2>

<p>Tato webová aplikace byla vytvořena Danielem Pichnarčíkem. Tato aplikace je využita pro nekomerční účely a pro studium.
</p>
<h3>Autor obrázků pro titulní stranu</h3>
<div>
    Ikony vytvořeny
    <a href="http://www.freepik.com" title="Freepik">Freepik</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>

<hr />

<h2>About</h2>
<p>
    This application was created by Daniel Pichnarcik. This application is used for non-commercial use and for my studium.
</p>
<h3>Autor of images for title page</h3>
<div>
    Icons created by
    <a href="http://www.freepik.com" title="Freepik">Freepik</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
