@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">Rezervační system</h1>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Seznam hřišť</h2>

        <div class="col col-md-12">
            <a href="@Url.Action("Index", "Playgrounds")">
                <img src="../../Content/img/soccer-field.png" alt="" />
            </a>
        </div>

    </div>
    <div class="col-md-4 text-center">
        <h2>Moje objednávky</h2>

        <div class="col col-md-12">
            <a href="@Url.Action("Index", "Orders")">
                <img src="../../Content/img/check-mark.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <h2>Můj profil</h2>

        <div class="col col-md-12">
            <a href="@Url.Action("Index", "Manage")">
                <img src="../../Content/img/user-silhouette.png" alt="" />
            </a>
        </div>
    </div>
</div>