@model WebApplication1.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Začátek rezervace
            </th>
            <th>
                Konec rezervace
            </th>
            <th>
                 Název hřiště
            </th>
        </tr>
    @foreach(var reservation in Model.Reservations)
    {
        <tr>
            <td>@reservation.Hour</td>
            <td>@reservation.EndHour</td>
            <td>@reservation.Place.Name</td>
        </tr>
    }
    </table>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Zpět na objednávky", "Index")
</p>
